[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;
StartupNotify=false
Name=Coulr
Exec=coulr
Icon=/usr/share/coulr/coulr.png
Comment=Coulr is a color box to help developers and designers.
