[Desktop Entry]
Name=Coulr
Exec=coulr
Comment=Enjoy colors and feel happy
Icon=coulr
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Utility;Graphics;
