[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;
StartupNotify=false
Name=Coulr
Path=/usr/bin
Exec=coulr
Icon=/usr/share/pixmaps/coulr.png
Comment=Coulr is a color box to help developers and designers.
